# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text diff=python
*.pyi text diff=python

# Markdown
*.md text

# YAML
*.yml text
*.yaml text

# Docker
Dockerfile text
docker-compose.yml text

# Config
*.toml text
*.cfg text
*.ini text
*.env.example text

# Binary
*.db binary
*.png binary
*.jpg binary
*.ico binary